@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900&display=swap');


$brand-color: #ffcc00;
$text-color: #262626;
$title-color: #666;


$b-size: 1px;

$page-ff: 'Raleway', sans-serif;
$logo-ff: 'Pacifico', sans-serif;

$menu-top: 70px;

$menu-step: 80px;