@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:700,900&display=swap');


$brand-color: #6fcffb;
$sub-brand-color:#fd8d7b;
$text-color: #181818;
$title-color: #666;
$btn-color: #fff;


$b-size: 1px;

$text-ff: 'Roboto', sans-serif;
$price-ff: 'Bebas Neue', sans-serif;

