@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova/regular.woff2') format('woff2'), url('../fonts/proxima-nova/regular.woff') format('woff'), url('../fonts/proxima-nova/regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url('../fonts/futura-pt/heavy.eot');
    src: url('../fonts/futura-pt/heavy.eot') format('eot'), url('../fonts/futura-pt/heavy.woff') format('woff'), url('../fonts/futura-pt/heavy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #464f53;
    min-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.7rem;
    color: #000;
    line-height: 1.5;
    position: relative;
    /* padding: 10px; */
}

a,
button {
    transition: all .25s ease-in-out;
}

.article {
    background-color: #fff;
    max-width: 1060;
    width: 96%;
    margin: 15rem auto 5rem;
    padding: 20rem 12rem 12rem 12rem;
    position: relative;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .8);
}

.article:before {
    content: '';
    border-left: 3px solid #e8ebec;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 70px;
}

.article__info {
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 2rem;
    color: #b4b4b4;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.article__title {
    font-family: 'Futura PT Heavy', Arial, sans-serif;
    font-size: 7.8rem;
    line-height: 1;
    text-transform: uppercase;
    margin: .5em 0 .1em;
}

.article__info span:not(:empty)+time:not(:empty):before {
    content: ', ';
}

.article__subtitle {
    font-size: 3rem;
    color: #8f8f8f;
    font-style: italic;
}

.article__text {
    margin: 1.7em 0;
}

.editor {
    position: absolute;
    z-index: 1;
    right: 0;
    top: -10rem;
    width: 79%;
}

.editor__area {
    background: #181818;
    padding: 45px 0 50px 60px;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
}

.editor__lable {
    display: block;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-size: 1.5rem;
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.editor__input {
    display: block;
    background: transparent;
    border: none;
    border-bottom: 2px solid #f3ba2c;
    font-family: 'Playfair Display', serif;
    font-size: 4.8rem;
    color: #fff;
    width: 100%;
    padding: 0 .2em 0 0;
    transition: border-color .25s ease-in;
}

.editor__input:focus {
    outline: none;
    border-color: #303030;
}

.editor__tools {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    margin-left: 6rem;
    background: #f2bf2d;
}

.editor__btns {
    margin: 0;
    padding: 1.5rem 4rem;
}

.editor__btns li {
    display: inline-block;
    margin: 0 1.5rem;
}

.editor__btn {
    color: #fff;
    opacity: 0.6;
}

.editor__btn:hover,
.editor__btn:focus {
    color: #fff;
    opacity: 1;
}

.editor__btn--active {
    opacity: 1;
}

.editor__btn:active {
    color: 8f8f8f;
    opacity: 1;
}