@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');


$brand-color: #3677fd;
$text-color: #5a5a5a;
$title-color: #3677fd;


$b-size: 1px;

$text-ff: 'Lato', sans-serif;
$title-ff: 'Roboto', sans-serif;
$btn-ff: 'Open Sans', sans-serif;