@import 'normalize';

@import 'variables';

@import 'mixins';


* {
    box-sizing: border-box;
    outline: none;
}
html {
    height: 100%;
    font-size: 10px;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100%;
    @include font(1.6rem, $text-color, 400, $text-ff, 2.2);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}