@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,700|Playfair+Display&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    background-color: #fff;
    min-height: 100%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    color: #171717;
    line-height: 1.7;
}

a,
button {
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    color: #eca965;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.25rem;
}

.article {
    background-color: #fff;
    max-width: 1060px;
    width: 90%;
    margin: 7rem auto 7rem;
    padding: 10rem 7rem 7rem 10rem;
    position: relative;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
}

.article__title {
    font-family: 'Playfair Display', serif;
    font-size: 4.2rem;
    margin: 0 0 1rem 0;
}

.article__text p {
    margin: 0;
}

.article__text p:nth-child(2) {
    margin: 3rem 0 3rem 0;
}

.article__text p:first-child span {
    font-size: 11rem;
    font-family: 'Playfair Display', serif;
    float: left;
    line-height: 8rem;
    width: 8rem;
}

.article__text em {
    font-size: 2.4rem;
    line-height: 3.5;
}

.article__text em span {
    float: left;
    font-size: 6rem;
    line-height: 1;
    width: 4rem;
}

a div {
    border: 2px solid #eca965;
    display: inline-block;
    padding: 1rem 7rem;
}

a:hover,
a:focus,
a:active {
    color: #fff;
}

a div:focus,
a div:hover,
a div:active {
    background: #eca965;
}