@import 'libs/bootstrap/bootstrap';

* {
    box-sizing: border-box;
    // outline: none;
}
html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    // @include font(1.4rem, $text-color, 500, $text-ff, 1.8);
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: linear-gradient(#00000000 80px, $primary 320px);
}

@import 'styles/main';


