.section{

    &--hero{
        background: $bg-gradient;
    }
}

.title{

    &--hero{
        font-size: 8rem;
        color: #fff;
        max-height: 9rem;
        letter-spacing: 5px;
        text-align: center;
        padding: 0 5rem;
        max-width: 1180px;
        margin-bottom: 2.5rem;
    }
}

.subtitle{

    &--hero{
        color: #fff;
        letter-spacing: 5px;
        font-size: 1.8rem;
        max-height: 2rem;
        text-align: center;
        padding: 0 5rem;
        max-width: 1180px;
    }
}


.slider{

    &__dot{
        border: 1px solid #fff;
        background: rgba(255,255,255,0);
        opacity: 1;
        margin: 4rem 0 0 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto;
    }


    &--hero{

        max-height: 100vh;

        &__slide{
            padding: 2rem;
            height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__next{
            font-size: 12px;
            width: 44px;
            height: 44px;
            position: absolute;
            z-index: 10;
            // outline: 3px solid red;
            bottom: 60px;
            left: 50%;
            transform: translate(-50%, 0);
            color: #fff;
            background-color: rgba(255,255,255,0);
            border: 1px solid #fff;
            border-radius: 50%;
            line-height: 44px;
            text-align: center;
            cursor: pointer;

            @include hover{
                background-color: rgba(255,255,255,1);
                color: $btn-color;
            }
        }
    }
}



.slider--hero__bullet.swiper-pagination-bullet-active span{
    background: rgba(255,255,255,1);
}


@media screen and (max-width:1000px) {
    .title{

        &--hero{
            font-size: 6rem;
            max-height: 6rem;
        }
    }
    
}


@media screen and (max-width:576px) {
    .title{

        &--hero{
            font-size: 5rem;
            max-height: 5rem;
        }
    }
    .subtitle{

        &--hero{
            letter-spacing: 2.5px;
        }
    }
}