#map{
    width: 100vw;
    height: 100vh;
}

.map-wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.section--location{
    position: relative;
    overflow: visible;
}

.title--contact{
    margin: 0;
    margin-bottom: 1.5rem;
}

.contact{
    z-index: 10;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 30%);
    max-width: 770px;
    padding: 6rem 6rem 8rem 6rem;
    width: 90vw;
    overflow: hidden;


    &__bg {
        position: absolute;
        transform: translate(-50%, 0);
        bottom: 0;
        min-height: auto;
        height: 80%;
        z-index: -1;
    }

    &__box{
        position: relative;

        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    &__links{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-direction: column;

        width: 49%;
    }

    &__form{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        flex-direction: column;

        width: 49%;
    }


    &__link{
        @include font(18px, $btn-color, 400, $btn-ff, 34px);
        max-height: 34px;
        overflow: hidden;
        margin-top: 3rem;
        & i{
            color: #7e5aff;
        }

        @include hover{
            text-decoration: underline;
        }
    }

    &__input{
        margin-top: 3rem;

        &--btn{
            margin: 3rem 0 0 auto;
            background-color: #fff;
        }

        &--text{
            @include font(18px, $btn-color, 400, $btn-ff, 34px);
            max-height: 58px;
            padding: 20px 10px;
            overflow: hidden;
            opacity: .7;
            border: 0;
            border-bottom: 1px solid $btn-color;

            @include hover{
                opacity: 1;
            }

            &:valid{
                opacity: 1;
                font-weight: 700;
            }

            &:focus:invalid{
                border-bottom: 1px solid rgb(100, 0, 0);
            }

            &:focus:valid{
                border-bottom: 1px solid rgb(29, 145, 0);
            }

            
        }
    }
}

#contact-link-time{
    position: relative;
    overflow: visible;
}


@media screen and (max-width:768px) {

    .contact{
        position: relative;
        left: 0;
        transform: translate(0);
        width: 100vw;
        padding-bottom: 80px;
        
        &__bg {
            height: 80%;
        }
    
        &__box{

            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            -moz-box-direction: normal;
            -moz-box-orient: vertical;
            flex-direction: column;

            -webkit-box-align: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    
        &__links{
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 2;
            order: 2;
            width: 90%;
        }
    
        &__form{
            width: 90%;
        }
    
    
        &__link{
            @include font(18px, $btn-color, 400, $btn-ff, 34px);
            max-height: 34px;
            overflow: hidden;
            margin-top: 3rem;
            & i{
                color: #7e5aff;
            }
    
            @include hover{
                text-decoration: underline;
            }
        }
    
        &__input{
            margin-top: 3rem;
    
            &--btn{
                margin: 3rem 0 0 auto;
            }
    
            &--text{
                @include font(18px, $btn-color, 400, $btn-ff, 34px);
                max-height: 58px;
                padding: 20px 10px;
                overflow: hidden;
                opacity: .7;
                border: 0;
                border-bottom: 1px solid $btn-color;
    
                @include hover{
                    opacity: 1;
                }
    
                &:valid{
                    opacity: 1;
                    font-weight: 700;
                }
    
                &:focus:invalid{
                    border-bottom: 1px solid rgb(100, 0, 0);
                }
    
                &:focus:valid{
                    border-bottom: 1px solid rgb(29, 145, 0);
                }
    
                
            }
        }
    }
}




/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    

}