
.nav {
    z-index: 2;
    /* outline: 1px solid black; */
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    // width: 100%;


    &__logo{
        display: none;
    }
    &__dot {
        display: inline-block;
        margin-right: 10px;
        height: 10px;
        width: 10px;
        border: 1px solid #fff;
        border-radius: 50%;
        @include tr;
    }

    &__links {
        display: flex;
        min-width: 500px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__link {
        @include font(14px, #fff, 400, $btn-ff, 1.6);
        text-transform: uppercase;
        padding: 0 2px;
        margin: auto;
        border: 3px solid transparent;
        @include hover {
            text-shadow: 1px 1px 1px #000;

            & span {
                background: #fff;
            }
        }
    }

    &__burger {
        width: 5rem;
        height: 5rem;
        background: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        justify-content: space-around;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-size: 30px;
        display: none;
    }

    &__symbol {
        width: 70px;
        height: 50px;
        font-size: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        display: none;
    }
}


@media screen and (max-width:576px) {
    .nav {
        position: absolute;
        left: -99999px;
        top: 0;
        margin: 0;
        padding: 0;
        &__logo {
            position: fixed;
            display: block;
            padding: 0 1rem;
            width: auto;
            top: 15px;
            left: -100%;
            transform: translate(-50%);
            box-shadow: 0 0 10px 10px #7e5aff;
            background-color: #7e5aff;
            @include tr;
        }

        &__symbol {
            display: flex;
            @include tr;
            color: #fff;
        }

        &__links {
            flex-direction: column;
            position: absolute;
            left: 99999px;
        }

        &__link {
            position: fixed;
            overflow: hidden;
            width: 200px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            min-width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            padding-left: 3rem;
            left: -200px;
            color: #fff;
            margin-top: 1rem;
            box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.7);
            text-shadow: -1px -1px 2px #000;
            background: rgba(0, 0, 0, 0.623);
            border-radius: 0 10px 10px 0;
            @include hover {
                box-shadow: 3px 5px 4px 0 rgba(255, 255, 255, 0.7);
                &:nth-child(1){
                    transition-delay: 0s;
                }
                &:nth-child(2){
                    transition-delay: 0s;
                }
                &:nth-child(3){
                    transition-delay: 0s;
                }
                &:nth-child(4){
                    transition-delay: 0s;
                }
                &:nth-child(5){
                    transition-delay: 0s;
                }
                &:nth-child(6){
                    transition-delay: 0s;
                }
                // .nav__symbol {
                //     color: #ff6033;
                    
                // }
            }

            &:nth-child(1){
                transition-delay: 0s;
                top: $menu-top;
            }
            &:nth-child(2){
                transition-delay: .1s;
                top: $menu-top + $menu-step * 1;
            }
            &:nth-child(3){
                transition-delay: .2s;
                top: $menu-top + $menu-step * 2;
            }
            &:nth-child(4){
                transition-delay: .3s;
                top: $menu-top + $menu-step * 3;
            }
            &:nth-child(5){
                transition-delay: .4s;
                top: $menu-top + $menu-step * 4;
            }
            &:nth-child(6){
                transition-delay: .5s;
                top: $menu-top + $menu-step * 5;
            }
        }

        &__burger {
            position: fixed;
            color: #fff;
            display: flex;
            left:15px;
            top: 25px;
            transform-origin: center;
            cursor: pointer;
            text-shadow: -1px -1px 2px #000;
            transform: rotateZ(0deg);
            @include hover {
                text-shadow: -1px -1px 5px #000;
            }
        }
    }
}

#burger:checked + .nav__logo {
    & + .nav__burger {
    transform: rotateZ(-90deg);
    left: 40px;
    @include tr;

        & + .nav__links {
            .nav__link {
                left: -130px;
            }
        }
    }
}

.full-view {
    #burger:checked + .nav__logo {
        left: 50%;

        & + .nav__burger {
            left: 90vw;
            & + .nav__links {
                .nav__link {
                    left: -25px;
                }
            }
        }
    } 
}


/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .nav {
        left: 30%;
    }
}
