@import 'normalize';

@import 'variables';

@import 'mixins';

* {
    box-sizing: border-box;
    outline: none;
}
html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100%;
    @include font(1.8rem, $text-color, 400, $text-ff, 1.6);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.section {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &__background{
        @include pCenter;
    }
}

.btn {
    @include font(1.4rem, $btn-color, 400, $btn-ff, 1.6);
    text-transform: uppercase;
    max-height: 2.2rem;
    overflow: hidden;
}

.title {
    @include font(4.4rem, $btn-color, 700, $title-ff, 1.1);
    text-transform: uppercase;
    max-height: 4.9rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subtitle{
    @include font(2.2rem, $btn-color, 400, $btn-ff, 1.1);
    text-transform: uppercase;
    max-height: 2.4rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.location {
    @include font(1.8rem, $btn-color, 400, $text-ff, 1.8, italic);
    max-height: 3.3rem;
    overflow: hidden;
}

@import 'header-and-footer';

@import 'hero';

@import 'we-do';

@import 'news';

@import 'gallery';

@import 'location';

@import 'contact';




@media screen and (max-width:960px) {
    html{
        font-size: 8px;
    } 
}




@media screen and (max-width:768px) {
    html{
        font-size: 6px;
    } 
}

@media screen and (max-width:576px) {

    html{
        font-size: 4px;
    } 
    
}




/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    

}











