* {
    box-sizing: border-box;
    outline: none;
}

html {
    height: 100%;
    font-size: 10px;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    font-size: 2rem;
    font-family: sans-serif;
}