@keyframes hero-shop-all{
    from,to {
        transform: translate(-50%);
        animation-timing-function: ease-in;
    }
    50%{
        transform: translate(50%);
        animation-timing-function: ease-out;
    }
}

.home{

    &__title{
        letter-spacing: 1.4rem;
        text-transform: uppercase;
    }

    &__subtitle{
        margin: 2rem 0 5rem;
        letter-spacing: .7rem;
    }

    &__link{
        font-size: 1.8rem;
        letter-spacing: .6rem;
        margin-top: 2rem;
        padding-left: 1rem;

        @include hover{
            text-decoration: none;
            text-shadow: -3px 0px 2px black;
            
            & svg {
                animation: hero-shop-all .9s infinite;
            }
        }

        & svg{
            position: relative;
            margin-left: 1rem;
            width: 1.8rem;
            height: 1.8rem;
            fill: white;
        }           
    }
}

@media screen and (max-width: 768px){
    .home{

        &__title{
            letter-spacing: 1.2rem;
            font-size: 4rem;
        }
    
        &__subtitle{
            letter-spacing: 0.6rem;
            font-size: 1.8rem;
        }
    
        &__link{
            font-size: 1.6rem;
            letter-spacing: .5rem;
    
            & svg{
                margin-left: .8rem;
                width: 1.7rem;
                height: 1.7rem;
            }  
        } 
    }
}


@media screen and (max-width: 540px){
    .home{

        &__title{
            letter-spacing: .8rem;
            font-size: 2.5rem;
        }
    
        &__subtitle{
            letter-spacing: 0.4rem;
            font-size: 1.4rem;
        }
    
        &__link{
            font-size: 1.4rem;
            letter-spacing: .4rem;
    
            & svg{
                margin-left: .3rem;
                width: 1.5rem;
                height: 1.5rem;
            }  
        } 
    }
}
