@import 'variables';

@import 'mixins';

@import 'home';

@import 'nav';

.background{
    position: relative;
    overflow: hidden;
    &__picture{
        z-index: -1;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__img{
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.section-label{
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    white-space: nowrap;
    transform-origin: left center;
    bottom: 0;
    left: 7rem;
    transform:translate(0, 50%) rotate(-90deg);

    &:before{
        content: "";
        display: inline-block;
        border: .1rem solid $secondary;
        width: 10rem;
        margin-right: 3rem;
        vertical-align: middle;
    }
}


@media screen and (max-width: 768px){

    .section-label{
        left: 3rem;
        font-size: 1.5rem;
    
        &:before{
            width: 5rem;
            margin-right: 1.5rem;
        }
    }

}
