@import 'normalize';

@import 'variables';

@import 'mixins';


* {
    box-sizing: border-box;
    outline: none;
}
html {
    height: 100%;
    font-size: 10px;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100%;
    @include font(1.4rem, $text-color, 500, $text-ff, 1.8);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#map{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.navigation{
    position: absolute;
    left: 10px;
    bottom: 20px;

    @include flexbox;
    @include flex-wrap;


    &__btn{
        
        direction: ltr;
        overflow: hidden;
        display: table-cell;
        user-select: none;
        background-color: rgb(255, 255, 255);
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        border-left: 0px;
        font-size: 0;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-left: 10px;
        cursor: pointer;

        & svg {
            @include tr;
            fill: #333;
        }

        @include hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 7px -1px;
            background-color: rgb(235, 235, 235);
            & svg {
                fill: #000;
            }
        }
    }

    &__input{
        height: 40px;
        padding: 0 10px;

        direction: ltr;
        overflow: hidden;
        color: rgb(86, 86, 86);
        font-family: Roboto, Arial, sans-serif;
        user-select: none;
        font-size: 18px;
        background-color: rgb(255, 255, 255);
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        background-clip: padding-box;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        border-left: 0px;
        margin-left: 10px;

        @include hover {
            color: rgb(0, 0, 0);
        }
    }
}



@media screen and (max-width:660px) {
    .navigation{
        @include flex-wrap(wrap);
        width: 290px;
        // @include justify-content;

        &__btn {
            margin-top: 5px;
            &:last-child{
                @include order(0);
                // border: 1px solid green;
            }
            &:first-child{
                @include order(2);
                // border: 1px solid red;
            }
        }


        &__input{
            margin-top: 5px;
            &:nth-child(2){
                @include order(1);
                // background: green;
            }
            &:nth-child(3){
                @include order(0);
            //    background: red;
            }
        }
    
    }
    
}


/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    

}