<!DOCTYPE html>
<html lang="en">
<head>
    //= ../includes/_head.html
    <title>CBD</title>
</head>
<body>
    //= ../includes/_header.html

    <main>
        //= ../includes/home/_hero.html
        //= ../includes/home/_we-are.html
        //= ../includes/home/_tabs.html
        //= ../includes/home/_products.html
        //= ../includes/home/_faqs.html
        //= ../includes/home/_reviews.html
    </main>
    
    //= ../includes/_footer.html

    //= ../includes/_svg-sprite.html
    //= ../includes/_foot.html
    
</body>
</html>