.tabs {
    margin: 4rem;
    width: 60rem;
    box-shadow: 0 0 4rem .2rem rgba(0, 0, 0, .4);
    height:  min-content;

    &__tab{
        background-color: $tab-bg-color;
        padding: 5rem 4rem 6rem 4rem;
        overflow: hidden;
        // position: absolute;
        // bottom: 0;
        width: 100%;
        // width: 60rem;

    }

    &__tabs{
        // overflow: hidden;
        transition: all 1s ease-in-out;
        height: 0px;
        opacity: 1;
        position: relative;
    }
}

