@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


$page-bg-color: #292d3e;
$tab-bg-color: #212534;
$nav-bar-color: #2b3040;
$btn-color: #13e28d;
$stars-color: #ffdd3f;
$text-color: #fff;
$border-rank-gradient:  linear-gradient(
    to left, 
    #1ae681, 
    #01d5bc
  ) 0 100%;


$b-size: 1px;

$ff: 'Lato', sans-serif;