@import 'normalize';

@import 'variables';

@import 'mixins';


* {
    box-sizing: border-box;
    outline: none;
}
html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}

a,
button {
    transition: all .25s ease-in-out;
    text-decoration: none;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: $page-bg-color;
    justify-items: center;
    display: grid;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include font(1.4rem, $text-color, 500, $ff, 1.8);

    &:after {
        content: "";
        background: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.13;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
}


@import 'tabs';

@import 'tab-info';

@import 'search';


@media screen and (max-width: 700px){
    html{
        font-size: 8px;
    }
}

@media screen and (max-width: 576px){
    html{
        font-size: 6px;
    }
}

@media screen and (max-width: 400px){
    html{
        font-size: 5px;
    }
}