@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');


$brand-color: #ffcc00;
$text-color: rgb(0, 0, 0);
$title-color: #666;


$b-size: 1px;

$text-ff: 'Poppins', sans-serif;
