.container{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.poster {

    display: flex;
    flex-direction: column;

    &__img{
        width: 16.5rem;
        height: 23.5rem;
        object-fit: cover;
        @include tr;

        &--small{
            width: 5.27rem;
            height: 7.5rem;
        }
    }

    &__wrap{
        z-index: 1;
        font-size: 0;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            background: url("../img/poster-shadow.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 8rem;
            left: 0;
            bottom: -4rem;
            z-index: -1;
        }

        &:before{
            content: "";
            position: absolute;
            background: url("../img/blick.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            right: 0;
            top: -2px;
        }

        &--small{
            &:after{
                opacity: 0;
            }
    
            &:before{
                opacity: 0;
            }
        }
    }

    &__stars{
        margin-top: 2.5rem;
        fill: #4b536b;
        display: flex;
        justify-content: space-evenly;
    }

    &__star{
        width: 2rem;
        height: 2rem;

        &--full{
            fill: #ffdd3f;
        }
    }
}

.description{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    // width: 90%;
    &__header{
        display: flex;
        justify-content: space-between;
    }

    
    &__title{
        font-size: 3.2rem;
        max-width: 24rem;
        line-height: 1.4;
        padding-right: 10px;
        margin: 0;
        max-height: 5rem;
        overflow: hidden;
    }
    &__subtitle{
        font-size: 1.4rem;
        line-height: 1.4;
        margin: 0;
        max-height: 2rem;
    }
    &__rank{
        user-select: none;
        color: #b7bacd;
        font-size: 2rem;
        line-height: 1.1;
        width: 7.5rem;
        min-width: 7.5rem;
        height: 7.5rem;
        overflow: hidden;
    }

    &__main{
        color: #b7bacd;
        font-size: 1.4rem;
        line-height: 1.6;
        margin: 3rem auto 4rem;
    }

    &__footer{
        display: flex;
        justify-content: space-between;
    }

    &__pricing{
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    &__sale{
        font-size: 1.2rem;
        line-height: 1.6;
        color: #fedc3f;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__price{
        font-size: 3.2rem;
        line-height: 1.15;
    }

    &__btn{
        user-select: none;
        text-transform: uppercase;
        color: #fff;
        min-width: 7.5rem;
        width: 7.5rem;
        height: 7.5rem;
        margin: auto 0 0 auto;
        border-radius: 2rem;
        font-weight: 700;
        font-size: 3.75rem;
        vertical-align: middle;
        line-height: 1;
        opacity: 1;
        background-color: #13e28d;
        border: 0;
        overflow: hidden;
        cursor: pointer;
        padding: 1rem;
        @include tr;
        @include hover{
            color: #13e28d;
            background-color: #fff;
        }
    }
}

.rate {

    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    &__current {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% );
        height: calc(100%);
        transform: rotate(-90deg);

        & circle {
            transition: stroke-dashoffset 1s ease-in-out;
            transform: translate(-50%, -50%);   
            fill: none;
            stroke-width: 3px;
            cx: 100%;
            cy: 100%;
            r: calc(50% - 2px);
            stroke-dashoffset: calc(3.14 * 2 * (50% - 2px));
            stroke-dasharray: calc(3.14 * 2 * (50% - 2px));
        }
    }

    &__maximal {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        margin: 2px;
        position: absolute;
        border-radius: 50%;
        border: 1px solid #b7bacd;
    }

    &__amount {
        margin: auto;
    }
}
